@model Album
@{
    ViewData["Title"] = "Display";
}

<div class="container">
    <div class="card">
        <div class="card-header">Display Content</div>
        <div class="card-body">
            <p>Id = @Model.Id  Name = @Model.Name  Type = @Model.Type Category = @Model.Category Singer = @Model.isSinger Sound = @Model.Sound</p>
        </div>
    </div>
</div>

